<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceryPrices"
        tools:targetApi="31">
        <activity
            android:name=".ActivitySeeObservation"
            android:exported="false" />
        <activity
            android:name=".ActivityAddRecord"
            android:exported="false" />
        <activity
            android:name=".ActivitySeeRecord"
            android:exported="false" />
        <activity
            android:name=".ActivityRecords"
            android:exported="false" />
        <activity
            android:name=".ActivityAddShoppingItem"
            android:exported="false" />
        <activity
            android:name=".ActivityShoppingList"
            android:exported="false" />
        <activity
            android:name=".ActivityAddProductType"
            android:exported="false" />
        <activity
            android:name=".ActivityProductTypes"
            android:exported="false" />
        <activity
            android:name=".ActivityMarkets"
            android:exported="false" />
        <activity
            android:name=".ActivityAddMarket"
            android:exported="false"
            android:label="@string/title_activity_add_market"
            android:theme="@style/Theme.GroceryPrices" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>